/.vs/Mandelbrot/v16/.suo
/.vs/Mandelbrot/v16/Preview/Browse.VC.db
/.vs/Mandelbrot/v16/Preview/Browse.VC.db-shm
/.vs/Mandelbrot/v16/Preview/Browse.VC.db-wal
/.vs/Mandelbrot/v16/Preview/ipch/AutoPCH/1dcb0803769eb2d4/COMPLEXNUMBERS.ipch
/.vs/Mandelbrot/v16/Preview/ipch/AutoPCH/2e9af6d5bc427bfd/DRAWPANE.ipch
/.vs/Mandelbrot/v16/Preview/ipch/AutoPCH/48dec02fc8d6c4d7/COMPLEXNUMBERS.ipch
/.vs/Mandelbrot/v16/Preview/ipch/AutoPCH/6366b71d38c1a66d/MYAPP.ipch
/.vs/Mandelbrot/v16/Preview/ipch/AutoPCH/8fcf0f2eeef0b957/SEQUENCE.ipch
/.vs/Mandelbrot/v16/Preview/ipch/AutoPCH/9c73baf5823e340/MYAPP.ipch
/.vs/Mandelbrot/v16/Preview/ipch/AutoPCH/e4e8bd89b9f0045c/MAINWINDOW.ipch
/.vs/Mandelbrot/v16/Preview/ipch/AutoPCH/eb633636c7784d04/SEQUENCE.ipch
/Mandelbrot.sln
/Mandelbrot.vcxproj
/Mandelbrot.vcxproj.filters
/Mandelbrot.vcxproj.user
/x64/Debug/ComplexNumbers.obj
/x64/Debug/DrawPane.obj
/x64/Debug/drawpane.obj.enc
/x64/Debug/MainWindow.obj
/x64/Debug/Mandelbrot.exe.recipe
/x64/Debug/Mandelbrot.ilk
/x64/Debug/Mandelbrot.log
/x64/Debug/Mandelbrot.pdb
/x64/Debug/Mandelbrot.tlog/CL.command.1.tlog
/x64/Debug/Mandelbrot.tlog/CL.read.1.tlog
/x64/Debug/Mandelbrot.tlog/CL.write.1.tlog
/x64/Debug/Mandelbrot.tlog/link.command.1.tlog
/x64/Debug/Mandelbrot.tlog/link.read.1.tlog
/x64/Debug/Mandelbrot.tlog/link.write.1.tlog
/x64/Debug/Mandelbrot.tlog/Mandelbrot.lastbuildstate
/x64/Debug/Mandelbrot.vcxproj.FileListAbsolute.txt
/x64/Debug/MyApp.obj
/x64/Debug/Sequence.obj
/x64/Debug/sequence.obj.enc
/x64/Debug/vc142.idb
/x64/Debug/vc142.pdb
